<h1>
<%= @game.current_turn.name %>: <%= @game.current_turn.hitpoints %> vs. <%= @game.opponent.name %>: <%= @game.opponent.hitpoints %>
</h1>

<form action='/attack' method='post'>
    <input type='submit' value='Attack!'>
</form>
